@import "tailwindcss";

@font-face {
  font-family: "SF UI Display";
  src: url("/SFUIDisplay-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Berlin";
  src: url("/Berlin.ttf") format("truetype");
}

@theme {
  --color-light: #f3f3f3;
  --color-dark: #0d0d0d;
  --color-accent: #1475ac;
  --font-head: "Berlin", sans-serif;
  --font-body: "SF UI Display", sans-serif;
}
::-webkit-scrollbar {
  width: 0;
}
body {
  overflow-x: hidden;
}
