@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=BBH+Sans+Bartle&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "SF UI Display";
  src: url("/SFUIDisplay-Light.ttf");
}

@theme {
  --color-light: #f8f8f8;
  --color-dark: #0d0d0d;
  --color-accent: #1475ac;
  --font-head: "BBH Sans Bartle", sans-serif;
  --font-body: "Arimo", sans-serif;
  --font-option: "SF UI Display", sans-serif;
}
::-webkit-scrollbar {
  width: 0;
}
body {
  overflow-x: hidden;
}
